html{
  overflow-x: hidden;
}

* {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}


.text-8xl {
  font-size: 6rem;
}

.text-10xl {
  font-size: 8rem;
}

.gold-gradient {
  background: linear-gradient(
    90deg,
    rgba(199, 152, 100, 1) 0%,
    rgba(204, 127, 57, 1) 44%
  );
}

.gold-gradient-text {
  background: linear-gradient(
    90deg,
    rgba(199, 152, 100, 1) 0%,
    rgba(204, 127, 57, 1) 44%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
